@model JulyRadicalMVC.Models.Student

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table>
    <tr>
        <td>
            @Html.TextBoxFor(s => s.Id);
        </td>
        <td>
            <input type="text" id="Id" name="Id" value="" />
        </td>
    </tr>
</table>

