
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DemoPartilaView</title>
</head>
<body>
    <div> 
        Loading....
    </div>
    <div>
        @Html.Partial("_MyReusableView");
    </div>
</body>
</html>
